.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.card {
    width: 260px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.circle {
    width: 90px;
    height: 90px;
    background: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 25px;
    margin: 0 auto;
}

.card h3 {
    margin-top: 15px;
    font-weight: 700;
}

.card p {
    margin-top: 5px;
    color: #555;
}